body {
  margin: 0;
  text-align: center;
  font-family: 'calibri', sans-serif;
  position: relative;
}

h1 {
  font-size: 3.125rem;
  margin: 50px auto 0 auto;
  font-family: 'MonteCarlo', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Gowun Batang', serif;
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Gowun Batang', serif;
  color: #11999E;
}

.top-container {
  background-color: #F5FDB0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  position: relative;
  background-color: #CDF3A2;
  padding-bottom: 20px;
}

.bottom-container {
  position: relative;
  background-color: #C6B4CE;
  padding-bottom: 10px;
  padding-top: 20px;
  color: #11999E;

}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
.skill-img{
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 50px;
}
.programming-img{
  height: 100px;
  width: 100px;
  float: right;
  margin-right: 100px;
}
.contact-me-img{
  height: 100px;
  width: 100px;
}
.education{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.education-img{
  height: 100px;
  width: 100px;
  float: right;
  margin-left: 100px;

}
.intro{
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: #40514E;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px #4ca3e6;
  -moz-box-shadow: 0px 1px 1px #4ca3e6;
  box-shadow: 0px 1px 1px #4ca3e6;
  font-family: Arial;
  color: #0a0a0a;
  font-size: 20px;
  background: #4db5fa;
  padding: 10px 20px 10px 20px;
  border: solid #63c7eb 1px;
  text-decoration: none;
}

.btn:hover {
  background: #219ce8;
  text-decoration: none;
}

.paragraph{
  padding-bottom: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
}
.lists{
  font-weight: bolder;
}
a{
  color: black;
  margin: 10px 20px;
  font-family: 'Merienda One', cursive;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.copyright{
  font-style: italic;
  font-weight: bold;
}
